[Unit]
Description="Reading smart meter values and publishing them"

[Service]
User=mueli
Environment="ENV_FOR_DYNACONF=%i"
WorkingDirectory=/home/mueli/VCS/smart_meter_reader
PIDFile=/var/run/smart_meter_reader/%i.pid
ExecStart=/home/mueli/.local/bin/poetry run python3 -m smart_meter_reader
Restart=always

[Install]
WantedBy=multi-user.target